@import './apps/email/email.css';
@import './apps/keep/kepp.css' ;
@import './apps/books/books.css' ; 
@import './parts/home-page.css' ; 
@import './parts/base.css';
@import './parts/header.css';
@import './parts/helpers.css';

*{
    box-sizing: border-box;
    margin: 0;

}

a{
    text-decoration: none;
 }

button{
    cursor: pointer;
}