@media (max-width: 1240px) {
    .main-layout {
        max-width: 750px;
    }
}


@media (max-width:750px) {
    .main-layout {
        max-width: 450px;
    }
 
}

@media (max-width:500px) {
   .note-card{
    width: 100%;
    text-align: center;
}
.title-input{
    margin-inline-start:2rem;
}
.main-layout{
    margin: 0;
}
.btn{
    padding: 30px;
}
  }


