.home-page{
    height: 70vh;
}
.slogen{
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
}

.home-1{
        width: 250px;
        height: 250px;
}

.home-link.keep {
    padding: 0.5rem;
    color: black;
    font-size: 3.5rem;
}
.home-link.keep:hover {
  background-color: #71b8f7;
  border-radius: 1.5rem;
  color: whitesmoke;
}

.home-2{
    width: 250px;
    height: 250px;
}
.home-link.book {
    padding: 0.5rem;
    color: black;
    font-size: 3.5rem;
}
.home-link.book:hover {
    background-color: #71b8f7;
    border-radius: 1.5rem;
    color: whitesmoke;
  }

  .home-3{
    width: 137px;
    height: 250px
}

.home-link.email {
    padding: 0.5rem;
    color: black;
    font-size: 3.5rem;
}

.home-link.email:hover {
    background-color: #71b8f7;
    border-radius: 1.5rem;
    color: whitesmoke;
  }