
.note-card{
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 50px;
    padding: 24px 8px;
    height: fit-content;
    margin: auto;
    border-radius: 2.5rem;
    
}

.note-card:hover .note-tools{
    opacity: 1;
}


.notes-area{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
}
 
.note-container{
    height: fit-content;
    
}

.note-img{
    width: 180px;
margin: auto;
   margin-inline-start: 1.5rem;
    
}

.text-area{
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

.img-container{
height: 100px;
}


.note-filter-container{
    width: 300px;
    border-radius: 5px;
    margin: 0.5rem auto;
}

.add-btn{
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    color: lightgray;
    
}

.note-tool{
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    color: black;

}

.note-tool:not(:first-child){
    margin-inline-start: 2.7rem;
}

.add-btn:hover{
    color: black;
}

.change-bg-color{
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    color: black;
}

.change-bg-color-input{
opacity: 0;
position: absolute;
left: 0;
top: 0;
cursor: pointer;
display: inline;
}

.change-color-container{
    position: relative;
    left: 200px;
    top: 20px;
}

.note-tools{
    color: black;
    opacity: 0;
    transition: opacity 0.7s;
}
 

.title-input{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 1rem;
}

.video-conatiner{
    text-align: center;
}

.todo-input{
    background-color: #FFFFFF;
    border: 3px solid lightgray;
    border-radius: 8px;
    margin-inline-start: 2rem;
    margin-top: 1.2rem;
}
.todo-txt{
    padding: 5px;
}

.remove-todo{
border: none;
background-color: transparent;
transition: all .2s ease-in-out
}

.search-input-keep {
    background-color: #FFFFFF;
    border: 3px solid #71b8f7;
    border-radius: 8px;
}

.search-input-keep:focus {
    outline: none;
    background-color: rgb(241 243 244);
    box-shadow: inset 0 0 0 1px black, 0 0 3px 1px #71b8f7;
}

.clicked-btn{
    color: black;
}

